<footer>
    lalocespedes
</footer>
<div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li><a href="{{ base_url() }}/">Home</a></li>
    </ul>
</div><!--/.nav-collapse -->
{#<script src="/assets/js/jquery.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.js"></script>#}

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/assets/js/vendor.js"></script>
<script src="/assets/js/scripts.js"></script>
<script src="/assets/js/templates.js"></script>